img {
    width: 100%;
}
img:hover {
    transform: scale(1.05);
    box-shadow: -5px -5px 5px gray;
    transition: transform 1s, box-shadow 1s;
}

#vacationTrackerPic {
    width: 50%;
    height: auto;
}

#vacationTrackerPic:hover {
    transform: scale(1.1);
    box-shadow: -5px -5px 5px gray;
    transition: transform 1s, box-shadow 1s;

}

@keyframes portpic {
    to {transform: translateX(0px); opacity: 1;}
}
@keyframes portinfo {
    to {transform: translateX(0px); opacity: 1;}
}
@keyframes nyspic {
    to {transform: translateX(0px); opacity: 1;}
}
@keyframes nysinfo {
    to {transform: translateX(0px); opacity: 1;}
}
@keyframes jspic {
    to {transform: translateX(0px); opacity: 1;}
}
@keyframes jsinfo {
    to {transform: translateX(0%); opacity: 1;}
}
@keyframes vacationTrackerPic {
    to {transform: translateX(0px); opacity: 1;}
}
@keyframes vacationTrackerInfo {
    to {transform: translateX(0px); opacity: 1;}
}
@keyframes calendarPic {
    to {transform: translateX(0px); opacity: 1;}
}
@keyframes calendarInfo {
    to {transform: translateX(0px); opacity: 1;}
}

#nysProject {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#portinfo {
    position: relative;
    transform: translateX(-100vw);
    opacity: 0;
    animation: portinfo 1s forwards;
}
#portpic {
    position: relative;
    transform: translateX(100vw);
    opacity: 0;
    animation: portpic 1s forwards;
}
#nyslink {
    position: relative;
    transform: translateX(-100vw);
    opacity: 0;
    order: 1;
    animation: nyspic 1s 1s forwards;
}
#nysinfo {
    position: relative;
    transform: translate(100vw);
    opacity: 0;
    order: 2;
    animation: nysinfo 1s 1s forwards;
}
#vacationTrackerLink {
    position: relative;
    transform: translate(100vw);
    opacity: 0;
    animation: vacationTrackerPic 1s 2s forwards;
}
#vacationTrackerInfo {
    position: relative;
    transform: translate(-100vw);
    opacity: 0;
    animation: vacationTrackerInfo 1s 2s forwards;
}
#calendarPic {
    order: 1;
    position: relative;
    transform: translate(-100vw);
    opacity: 0;
    animation: calendarPic 1s 3s forwards;
}
#calendarInfo {
    order: 2;
    position: relative;
    transform: translate(100vw);
    opacity: 0;
    animation: calendarInfo 1s 3s forwards;

}

@media (max-width: 600px) {
    .container {
        text-align: center;
        white-space: normal;
        overflow: visible;
    }
    a {
        display: inline-block;
        text-align: center;
        word-break: break-word;
        overflow-wrap: anywhere;
    }
    #nysProject {
        flex-direction: column;
    }
    #nyslink {
        order: 2;
    }
    #nysinfo {
        order: 1;
    }
    #calendarPic {
        order: 2;
    }
    #calendarInfo {
        order: 1;
    }
}

#resume {
    width: 100%;
    height: 60vh;
    justify-content: center;
}
#resume embed {
    width: 100%;
    height: 100%;
}